.viewer-reviews-slider__round-button {
  border: none;
  background-color: transparent;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0 10px 0 0;
}

.viewer-reviews-slider__round-button:last-of-type {
  margin-right: 29px;
}
