.burger-menu {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  padding-bottom: 63px;
  background-color: #ECEBE8;
  position: fixed;
  right: 0;
  top: 0;
  overflow: auto;
  max-height: 100%;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transform: translate(1000vw, 0);
  transition: visibility 1s, opacity 1s, transform 2s;
}