.play__names{
margin-bottom: 24px;
margin-top: 0;
margin-left: 28px;
font-family: 'Formular';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.01em;
font-feature-settings: 'ss01' on;
min-width:420px;
}

.play__names:last-child{
    margin-bottom: 0;
}