.back-button {
  padding: 0;
  margin: 33px 0 0 30px;
  text-decoration: none;
  width: 120px;
  height: 31px;
  flex-shrink: 0;
  font-family: 'Formular', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: #242424;
  border-bottom: 1px solid #242424;
  border-right: 1px solid #242424;
  border-image: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  align-items: center;
  box-sizing: border-box;
  background-color: inherit;
}
