@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.burger-menu__social-link {
  padding: 0 16px;
  text-decoration: none;
  height: 56px;
  flex-shrink: 0;
  font-family: 'Formular', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  border: 1px solid #000000;
  border-image: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: inherit;
}