.header__socials {
  max-width: 207px;
  margin: 21px 26px 22px 24px;
  /* gap: 16px; */
  justify-content: space-between;
}

.header__socials .header__item:hover {
  opacity: .6;
  transition: opacity .4s;
}