.header__socials {
  visibility: visible;
  max-width: 207px;
  margin: 21px 26px 22px 24px;
  justify-content: space-between;
}

.header__socials .header__item:hover {
  opacity: .6;
  transition: opacity .4s;
}

@media screen and (max-width: 1250px) {
  .header__socials {
    margin: 21px 10px 22px 10px;
  }
}

@media screen and (max-width: 1150px) {
  .header__socials {
    margin: 21px 4px 15px 4px;
  }
}

@media screen and (max-width: 900px) {
  .header__socials {
    max-width: 0;
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}