.reviews__button-read {
  width: 210px;
  height: 32px;
  background-repeat: no-repeat;
  background-color: inherit;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #242424;;
  border-left: 1px solid #242424;;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: #242424;
  margin: 0 auto 73px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}