.burger-menu__developers {
  margin-left: 24px;
  font-family: 'Formular', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  white-space: pre-wrap;
}