/* vendor */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Formular-Light/formular-light.css);
@import url(../vendor/fonts/Neue-Machina-Regular/Neue-Machina.css);
@import url(../vendor/OwlCarousel/owl.carousel.min.css);
@import url(../vendor/OwlCarousel/owl.theme.default.min.css);
/* page */
@import url(../blocks/page/page.css);
/* header */
@import url(../blocks/header/header.css);

/* mix classes */
@import url(../blocks/color-change/color-change.css);
@import url(../blocks/scale-animation/scale-animation.css);
@import url(../blocks/button-content/button-content.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-container/header__logo-container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__socials/header__socials.css);
@import url(../blocks/header/__items/header__items.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__item-brackets/header__item-brackets.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__support/header__support.css);
@import url(../blocks/header/__support-text/header__support-text.css);
@import url(../blocks/header/__support-btn/header__support-btn.css);
/* navigation */
@import url(../blocks/back-button/back-button.css);
/* section about */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);
@import url(../blocks/about/__date/about__date.css);
@import url(../blocks/about/__description/about__description.css);
@import url(../blocks/about/__image-container/about__image-container.css);
@import url(../blocks/about/__image/about__image.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);
@import url(../blocks/about/__brief/about__brief.css);
@import url(../blocks/about/__link/about__link.css);
@import url(../blocks/about/__arrow/about__arrow.css);
/* section play */
@import url(../blocks/play/play.css);
@import url(../blocks/play/__block-video/play__block-video.css);
@import url(../blocks/play/__info/play__info.css);
@import url(../blocks/play/__names/play__names.css);
@import url(../blocks/play/__text/play__text.css);
@import url(../blocks/play/__title/play__title.css);
@import url(../blocks/play/__video/play__video.css);
@import url(../blocks/play/__block-info/play__block-info.css);
/* section read */
@import url(../blocks/read/read.css);
@import url(../blocks/read/__title/read__title.css);
@import url(../blocks/read/__container/read__container.css);
@import url(../blocks/read/__materials/read__materials.css);
@import url(../blocks/read/__subtitle/read__subtitle.css);
@import url(../blocks/read/__item/read__item.css);
@import url(../blocks/read/__item/_type/read__item_type_button.css);
@import url(../blocks/read/__name/read__name.css);
@import url(../blocks/read/__place/read__place.css);
/* reviews */
@import url(../blocks/reviews/reviews.css);
@import url(../blocks/reviews/__button-read/reviews__button-read.css);
@import url(../blocks/reviews/__list/reviews__list.css);
@import url(../blocks/reviews/__name/reviews__name.css);
@import url(../blocks/reviews/__subtitle/reviews__subtitle.css);
@import url(../blocks/reviews/__title/reviews__title.css);

/* viewer_reviews */
@import url(../blocks/viewer-reviews-slider/viewer-reviews-slider.css);
@import url(../blocks/viewer-reviews-slider/__header/viewer-reviews-slider__header.css);
@import url(../blocks/viewer-reviews-slider/__title/viewer-reviews-slider__title.css);
@import url(../blocks/viewer-reviews-slider/__round-buttons/viewer-reviews-slider__round-buttons.css);
@import url(../blocks/viewer-reviews-slider/__round-button/viewer-reviews-slider__round-button.css);
@import url(../blocks/viewer-reviews-slider/__round-button-image/viewer-reviews-slider__round-button-image.css);
@import url(../blocks/viewer-reviews-slider/__arrow-buttons/viewer-reviews-slider__arrow-buttons.css);
@import url(../blocks/viewer-reviews-slider/__arrow-button/viewer-reviews-slider__arrow-button.css);
@import url(../blocks/viewer-reviews-slider/__arrow-button-image/viewer-reviews-slider__arrow-button-image.css);
@import url(../blocks/viewer-reviews-slider/__wrapper/viewer-reviews-slider__wrapper.css);
@import url(../blocks/viewer-reviews-slider/__container/viewer-reviews-slider__container.css);
@import url(../blocks/viewer-reviews-slider/__track/viewer-reviews-slider__track.css);
@import url(../blocks/viewer-reviews-slider/__item/viewer-reviews-slider__item.css);
@import url(../blocks/viewer-reviews-slider/__review/viewer-reviews-slider__review.css);
@import url(../blocks/viewer-reviews-slider/__review-caption/viewer-reviews-slider__review-caption.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__partner-link/footer__partner-link.css);
@import url(../blocks/footer/__partner-logo/footer__partner-logo.css);
@import url(../blocks/footer/__partners-title/footer__partners-title.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__nav-first-list/footer__nav-first-list.css);
@import url(../blocks/footer/__nav-item/footer__nav-item.css);
@import url(../blocks/footer/__nav-link/footer__nav-link.css);
@import url(../blocks/footer/__nav-second-list/footer__nav-second-list.css);
@import url(../blocks/footer/__nav-third-list/footer__nav-third-list.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__copyright-link/footer__copyright-link.css);
@import url(../blocks/footer/__design/footer__design.css);
@import url(../blocks/footer/__design-link/footer__design-link.css);
@import url(../blocks/footer/__design-logo/footer__design-logo.css);
@import url(../blocks/footer/__developers/footer__developers.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__addres-title/footer__address-title.css);
@import url(../blocks/footer/__address-sibtitle/footer__address-subtitle.css);
@import url(../blocks/footer/__copyright-title/footer__copyright-title.css);

/*сброс css тега ul*/
@import url(../blocks/list/list.css);
