.footer {
  margin: 0 auto;
  display: grid;
  /* justify-content: center; */
  grid-template-columns: 9vw 34vw max-content 94px max-content;
  grid-template-rows: 122px 237px 90px;
  row-gap: 21px;
  column-gap: calc(5% + 8px);
  grid-auto-columns: 0;
}