.about__subtitle {
  padding: 0;
  font-family: 'Neue Machina', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin: 42px 0 0 60px;
  max-width: 415px;
}

@media screen and (max-width: 1150px) {
  .about__subtitle {
    margin-right: 10px;
  }
}

@media screen and (max-width: 850px) {
  .about__subtitle {
    margin-left: 30px;
  }
}

@media screen and (max-width: 570px) {
  .about__subtitle {
    margin: 16px 24px 0 86px;
  }
}

@media screen and (max-width: 400px) {
  .about__subtitle {
    margin-left: 40px;
  }
}
